.sampah {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.sampah1 {
  position: relative;
  flex: 0 0 45%;
  transform: translate3d(-15%, 35%, 0);
}

.sampah2 {
  position: relative;
  flex: 0 0 45%;
  transform: translate3d(-5%, 20%, 0);
}

.sampah3 {
  position: relative;
  flex: 0 0 60%;
  transform: translate3d(0, 0%, 0);
}

.title {
  font-size: 1.6rem;
}

.sc1 {
  max-width: 900px;
}

.sc2 {
  top: 1rem;
  right: 1rem;
  position: absolute;
}

.sc3 {
  top: 1rem;
  right: 1rem;
  position: absolute;
}





